global
        log /dev/log local0
        log /dev/log local1 notice
        #log loghost    local0 info
        maxconn 4096
        chroot /var/lib/haproxy
        uid 99
        gid 99
        daemon
        #debug
        #quiet

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option  redispatch
        maxconn 2000

        timeout queue           1m
	      timeout connect         10s
	      timeout server          1m
	      timeout check           10s
	      timeout tunnel          3600s
	      timeout http-request    10s
	      timeout client          1m
	      timeout http-keep-alive 2500

frontend frontdoor-http
        bind *:80
        bind :::80
        mode http
	use_backend unifi if { path_beg /unifi }
	use_backend nzbget if { path_beg /nzbget }
        default_backend realweb
        log global
        # redirect scheme https if !{ ssl_fc }
        capture request header  Host len 63
        # http-response set-header Strict-Transport-Security  max-age=31536000

backend realweb
        server local 127.0.0.1:8080

backend unifi
	# acl is-ssl dst_port 443 
	reqadd X-Script-Name:\ /unifi 
	#reqadd X-Scheme:\ https if is-ssl 
	option forwardfor 
	server unifi 192.168.0.21:8443 check 

backend nzbget
	reqadd X-Script-Name:\ /nzbget
	option forwardfor
	server nzbget 192.168.0.126:6789 check
